src/main/resources/xjc/gisgmp/wsdl/entity/directory/Common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:com="http://roskazna.ru/gisgmp/xsd/116/Common"
            targetNamespace="http://roskazna.ru/gisgmp/xsd/116/Common" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
	<xsd:simpleType name="AccountNumType">
		<xsd:annotation>
			<xsd:documentation>Номер счета.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="20"/>
			<xsd:pattern value="\d{20}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="INNType">
		<xsd:annotation>
			<xsd:documentation>ИНН юр.лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{8}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KPPType">
		<xsd:annotation>
			<xsd:documentation>КПП юр.лица</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([^0^\D]\d|\d[^0^\D])\d{2}[A-Z0-9]{2}\d{3}">
				<xsd:annotation>
					<xsd:documentation>9 символов, пятый и шестой из которых могут быть прописными (заглавными)
						латинскими буквами или цифрами, а все остальные только цифрами, и при этом первый и второй знаки
						(цифры) не могут одновременно принимать значение ноль ("0").
					</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OKTMOType">
		<xsd:annotation>
			<xsd:documentation>Код ОКТМО</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
			<xsd:minLength value="1"/>
			<xsd:pattern value="\d{8}">
				<xsd:annotation>
					<xsd:documentation>11 цифр ОКТМО, при этом первые 3 не могут быть нулями</xsd:documentation>
				</xsd:annotation>
			</xsd:pattern>
			<xsd:pattern value="\d{11}"/>
			<xsd:pattern value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-zA-Zа-яА-Я]{20}"/>
			<xsd:pattern value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KBKResponseType">
		<xsd:annotation>
			<xsd:documentation>КБК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
			<xsd:minLength value="0"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="OGRNType">
		<xsd:annotation>
			<xsd:documentation>ОГРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
			<xsd:pattern value="\d{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BIKType">
		<xsd:annotation>
			<xsd:documentation>БИК</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
			<xsd:pattern value="\d{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SupplierBillIDType">
		<xsd:annotation>
			<xsd:documentation>УИН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\w{20}"/>
			<xsd:pattern value="\d{25}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="URNType">
		<xsd:annotation>
			<xsd:documentation>УРН</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9a-fA-F]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EsiaUserInfoType">
		<xsd:choice>
			<xsd:annotation>
				<xsd:documentation>Данные пользователя, полученные информационной системой Участника из ЕСИА
				</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="Person">
				<xsd:annotation>
					<xsd:documentation>Физическое лицо</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DocumentIdentity">
							<xsd:annotation>
								<xsd:documentation>Документ, удостоверяющий личность</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:attribute name="code" use="required">
									<xsd:annotation>
										<xsd:documentation>Код документа, удостоверяющего личность</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:enumeration value="1">
												<xsd:annotation>
													<xsd:documentation>Паспорт гражданина Российской Федерации
													</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
											<xsd:enumeration value="2">
												<xsd:annotation>
													<xsd:documentation>Документ иностранного гражданина
													</xsd:documentation>
												</xsd:annotation>
											</xsd:enumeration>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="series">
									<xsd:annotation>
										<xsd:documentation>Серия</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
								<xsd:attribute name="number" use="required">
									<xsd:annotation>
										<xsd:documentation>Номер</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:maxLength value="45"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:attribute>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="snils" use="required">
						<xsd:annotation>
							<xsd:documentation>СНИЛС</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="\d{11}"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="personINN" use="optional" type="com:personINNType">
						<xsd:annotation>
							<xsd:documentation>ИНН физического лица (гражданина РФ).
								Обязательно для заполнения, если физическое лицо - гражданин РФ
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IndividualBussnes">
				<xsd:annotation>
					<xsd:documentation>Индивидуальный предприниматель</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:attribute name="personINN" use="required">
						<xsd:annotation>
							<xsd:documentation>ИНН</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="com:personINNType">
								<xsd:pattern value="\d{12}"/>
								<xsd:length value="12"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="userId" type="xsd:integer" use="required">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор учетной записи пользователя в системе ЕСИА
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="sessionIndex" use="optional">
			<xsd:annotation>
				<xsd:documentation>Уникальный идентификатор сессии пользователя в системе ЕСИА</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="300"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
		<xsd:attribute form="unqualified" name="sessionDate" type="xsd:dateTime">
			<xsd:annotation>
				<xsd:documentation>Дата и время открытия сессии пользователя в системе ЕСИА</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="AdditionalDataType">
		<xsd:sequence>
			<xsd:element name="Name">
				<xsd:annotation>
					<xsd:documentation>Наименование поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="100"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Value">
				<xsd:annotation>
					<xsd:documentation>Значение поля</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="255"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AdditionalData" type="com:AdditionalDataType">
		<xsd:annotation>
			<xsd:documentation>Дополнительные поля</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PayerIdentifier">
		<xsd:annotation>
			<xsd:documentation>Идентификатор плательщика</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:pattern value="2\d{14}[A-Z0-9]{2}\d{3}">
					<xsd:annotation>
						<xsd:documentation>ЮЛ резидент</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
				<xsd:pattern value="3\d{14}[A-Z0-9]{2}\d{3}|3\d{9}[A-Z0-9]{2}\d{3}">
					<xsd:annotation>
						<xsd:documentation>ЮЛ не резидент</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
				<xsd:pattern value="4\d{12}">
					<xsd:annotation>
						<xsd:documentation>ИП</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
				<xsd:pattern
						value="((0[1-9])|(1[0-4])|(2[12456789])|(3[0]))[0-9a-zA-Zа-яА-Я]{20}\d{3}">
					<xsd:annotation>
						<xsd:documentation>ФЛ</xsd:documentation>
					</xsd:annotation>
				</xsd:pattern>
				<xsd:pattern value="0"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="ChangeStatus">
		<xsd:annotation>
			<xsd:documentation>Статус изменения</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence minOccurs="0">
				<xsd:element name="Reason">
					<xsd:annotation>
						<xsd:documentation>Основание изменения</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="512"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="meaning" use="required">
				<xsd:annotation>
					<xsd:documentation>1 - новый 2 - уточнение 3 - аннулирование 4 - отмена аннулирования
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="1"/>
						<xsd:enumeration value="1">
							<xsd:annotation>
								<xsd:documentation>Новый</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="2">
							<xsd:annotation>
								<xsd:documentation>Уточнение</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="3">
							<xsd:annotation>
								<xsd:documentation>Аннулирование</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
			<xsd:attribute name="changeDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время уточнения информации (указывается, если meaning не равно «1»)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="TransKind">
		<xsd:annotation>
			<xsd:documentation>Вид операции</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleType>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="01"/>
				<xsd:enumeration value="02"/>
				<xsd:enumeration value="06"/>
				<xsd:enumeration value="16"/>
				<xsd:enumeration value="ПД"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:simpleType name="personINNType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{12}"/>
			<xsd:length value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SystemIdentifierType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\w{32}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
