src/main/resources/xjc/gisgmp/wsdl/request/AcknowledgmentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"                  
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:tk="http://roskazna.ru/gisgmp/xsd/116/Ticket"
                  xmlns:da="http://roskazna.ru/gisgmp/xsd/116/DoAcknowledgment"
                  name="AcknowledgmentService"
                  xmlns:tns="http://www.bssys.org/gisgmp/2000/AcknowledgmentService/"
                  targetNamespace="http://www.bssys.org/gisgmp/2000/AcknowledgmentService/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bssys.org/gisgmp/2000/AcknowledgmentService/">
            <xsd:import schemaLocation="DoAcknowledgment.xsd" namespace="http://roskazna.ru/gisgmp/xsd/116/DoAcknowledgment"/>
            <xsd:import schemaLocation="Ticket.xsd" namespace="http://roskazna.ru/gisgmp/xsd/116/Ticket"/>
            <xsd:element name="request">
                <xsd:complexType>
                    <xsd:sequence>
                    	<xsd:element
                    		type="da:DoAcknowledgmentRequestType"
                    		name="request" />
                    	<xsd:element name="senderId">
                    		<xsd:simpleType>
                    			<xsd:restriction base="xsd:string">

                    				<xsd:maxLength value="32"></xsd:maxLength>
                    			</xsd:restriction>
                    		</xsd:simpleType>
                    	</xsd:element>
                    	<xsd:element name="roleId" minOccurs="0">
                    		<xsd:simpleType>
                    			<xsd:restriction base="xsd:string">
                    				<xsd:maxLength value="10"></xsd:maxLength>
                    			</xsd:restriction>
                    		</xsd:simpleType>
                    	</xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="response">
            	<xsd:complexType>
            		<xsd:choice>
            			<xsd:element type="da:DoAcknowledgmentResponseType" name="data"/>
            			<xsd:element type="tk:TicketType" name="error"/>
            		</xsd:choice>
            	</xsd:complexType>
            </xsd:element>
        </xsd:schema>
        
    </wsdl:types>

    <wsdl:message name="requestTypeMsg">
        <wsdl:part element="tns:request" name="in"/>
    </wsdl:message>
    
    <wsdl:message name="responseTypeMsg">
        <wsdl:part element="tns:response" name="out"/>
    </wsdl:message>

    <wsdl:portType name="AcknowledgmentService">
        <wsdl:operation name="getQuittanceForAdb">
            <wsdl:input message="tns:requestTypeMsg"/>
            <wsdl:output message="tns:responseTypeMsg"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="AcknowledgmentServiceSOAP" type="tns:AcknowledgmentService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getQuittanceForAdb">
            <soap:operation soapAction="http://www.bssys.com/gisgmp/2000/AcknowledgmentService/getQuittanceForAdb"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AcknowledgmentService">
        <wsdl:port binding="tns:AcknowledgmentServiceSOAP" name="AcknowledgmentServiceSOAP">
            <soap:address location="www.bssys.com/gisgmp/2000/AcknowledgeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
