src/main/resources/xjc/gisgmp/wsdl/entity/document/Payment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
            xmlns:bdi="http://roskazna.ru/gisgmp/xsd/116/BudgetIndex"
            xmlns:com="http://roskazna.ru/gisgmp/xsd/116/Common"
            xmlns:org="http://roskazna.ru/gisgmp/xsd/116/Organization"
            xmlns:pi="http://roskazna.ru/gisgmp/xsd/116/PaymentInfo"
            targetNamespace="http://roskazna.ru/gisgmp/xsd/116/PaymentInfo" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/116/Organization"
	            schemaLocation="../directory/Organization.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/116/Common"
	            schemaLocation="../directory/Common.xsd"/>
	<xsd:import namespace="http://roskazna.ru/gisgmp/xsd/116/BudgetIndex"
	            schemaLocation="../directory/BudgetIndex.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#"
	            schemaLocation="../../request/xmldsig-core-schema.xsd"/>
	<xsd:complexType name="PaymentIdentificationDataType">
		<xsd:annotation>
			<xsd:documentation>Данные для идентификации платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Bank" type="org:BankType">
					<xsd:annotation>
						<xsd:documentation>Данные банка плательщика</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Other">
					<xsd:annotation>
						<xsd:documentation>Признак, означающий иные способы проведения платежа (например, прием в кассу
							от плательщиков наличных денежных средств)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="CASH">
								<xsd:annotation>
									<xsd:documentation>Прием в кассу наличных денежных средств</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="UFK">
					<xsd:annotation>
						<xsd:documentation>УРН участника (не банка), проведшего платеж, присвоенный при регистрации в
							ГИС ГМП. Если платеж проведен ТОФК, то элемент должен быть заполнен значением
							четырехсимвольного кода ТОФК
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="36"/>
							<xsd:whiteSpace value="preserve"/>
							<xsd:pattern value="\d{4}"/>
							<xsd:pattern value="[a-zA-Z0-9]{6}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="SystemIdentifier">
				<xsd:annotation>
					<xsd:documentation>УИП, присвоенный банком плательщика, ТОФК или иным участником, принявшим
						платеж.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="com:SystemIdentifierType">
						<xsd:pattern value="\w{32}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponsePaymentIdentificationDataType">
		<xsd:annotation>
			<xsd:documentation>Данные для идентификации платежа</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice>
				<xsd:element name="Bank" type="org:BankType">
					<xsd:annotation>
						<xsd:documentation>Данные банка плательщика</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Other">
					<xsd:annotation>
						<xsd:documentation>Признак, означающий иные способы проведения платежа (например, прием в кассу
							от плательщиков наличных денежных средств)
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:enumeration value="CASH">
								<xsd:annotation>
									<xsd:documentation>Прием в кассу наличных денежных средств</xsd:documentation>
								</xsd:annotation>
							</xsd:enumeration>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="UFK">
					<xsd:annotation>
						<xsd:documentation>УРН участника (не банка), проведшего платеж, присвоенный при регистрации в
							ГИС ГМП. Если платеж проведен ТОФК, то элемент должен быть заполнен значением
							четырехсимвольного кода ТОФК
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:minLength value="1"/>
							<xsd:maxLength value="36"/>
							<xsd:whiteSpace value="preserve"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>
			<xsd:element name="SystemIdentifier">
				<xsd:annotation>
					<xsd:documentation>УИП, присвоенный банком плательщика, ТОФК или иным участником, принявшим
						платеж.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:union memberTypes="com:SystemIdentifierType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:pattern value="PaymentNotLoaded"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PaymentType">
		<xsd:annotation>
			<xsd:documentation>Базовый тип для платежа/строки зачисления</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SupplierBillID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>УИН</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="0"/>
						<xsd:pattern value="\d{15}"/>
						<xsd:pattern value="\d{25}"/>
						<xsd:pattern value="\w{20}"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Narrative">
				<xsd:annotation>
					<xsd:documentation>Назначение платежа</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="210"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Amount">
				<xsd:annotation>
					<xsd:documentation>Сумма платежа в копейках</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedLong">
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PaymentDate" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Дата и время приема к исполнению распоряжения плательщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReceiptDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата поступления распоряжения в банк плательщика</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BudgetIndex" type="bdi:BudgetIndexType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительные реквизиты платежа, предусмотренные приказом Минфина России от 12
						ноября 2013 г. №107н
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PaymentIdentificationData" type="pi:PaymentIdentificationDataType">
				<xsd:annotation>
					<xsd:documentation>Данные, необходимые для идентификации извещения о приеме к исполнению
						распоряжения
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AccDoc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты платежного документа</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
						<xsd:element name="AccDocNo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер платежного документа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:pattern value="\d{1,6}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="AccDocDate" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата платежного документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Payer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Cведения о плательщике</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element ref="com:PayerIdentifier" minOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Идентификатор плательщика</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PayerName" minOccurs="1">
							<xsd:annotation>
								<xsd:documentation>Плательщик</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="160"/>
									<xsd:pattern value="\S+([\S\s]*\S+)*"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PayerAccount" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер счета плательщика</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="20"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Payee">
				<xsd:annotation>
					<xsd:documentation>Получатель средств</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PayeeName">
							<xsd:annotation>
								<xsd:documentation>Наименование получателя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="160"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="payeeINN" type="com:INNType">
							<xsd:annotation>
								<xsd:documentation>ИНН получателя</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="payeeKPP">
							<xsd:annotation>
								<xsd:documentation>КПП получателя</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:union memberTypes="com:KPPType">
									<xsd:simpleType>
										<xsd:restriction base="xsd:string">
											<xsd:pattern value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:union>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="PayeeBankAcc" type="org:AccountType">
							<xsd:annotation>
								<xsd:documentation>Расчетный счет получателя средств</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RecipientServicesIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор получателя услуги / плательщика, указанного в начислении. Алгоритм
						формирования идентификатора получателя услуги совпадает с алгоритмом формирования идентификатора
						плательщика
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="25"/>
						<xsd:pattern value="2\d{14}[A-Z0-9]{2}\d{3}"/>
						<xsd:pattern value="3\d{14}[A-Z0-9]{2}\d{3}|3\d{9}[A-Z0-9]{2}\d{3}"/>
						<xsd:pattern value="4\d{12}"/>
						<xsd:pattern
								value="((0[1-9])|(1[0-4])|(2[12456789])|(3[0]))[0-9a-zA-Zа-яА-Я]{20}\d{3}"/>
						<xsd:pattern value="0"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PayerPA" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительный идентификатор получателя услуги в учетной системе получателя
						средств
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ChangeStatus">
				<xsd:annotation>
					<xsd:documentation>Сведения о статусе платежа и основаниях его изменения</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence minOccurs="0">
						<xsd:element name="Reason">
							<xsd:annotation>
								<xsd:documentation>Основание изменения. Указание является обязательным, если meaning не
									равно 1
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="512"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="meaning" use="required">
						<xsd:annotation>
							<xsd:documentation>1 - новый; 2 - уточнение; 3 - аннулирование</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:length value="1"/>
								<xsd:enumeration value="1">
									<xsd:annotation>
										<xsd:documentation>Новый</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="2">
									<xsd:annotation>
										<xsd:documentation>Уточнение</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
								<xsd:enumeration value="3">
									<xsd:annotation>
										<xsd:documentation>Аннулирование</xsd:documentation>
									</xsd:annotation>
								</xsd:enumeration>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name="changeDate" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>Дата и время уточнения информации (указывается, если meaning не равно
								«1»)
							</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="KBK" type="com:KBKType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>КБК или двадцатизначный код, содержащий в 1 - 17 разрядах нули, в 18 - 20
						разрядах - код классификации операций сектора государственного управления бюджетной
						классификации Российской Федерации. В случае отсутствия следует указывать значение «0»
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="com:TransKind" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид операции.
						Указывается шифр платежного документа. Возможные значения:
						01 –платежное поручение;
						06 - инкассовое поручение;
						02 - платежное требование;
						16 - платежный ордер;
						ПД – платежный документ ФЛ
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TransContent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Содержание операции. Указывается при частичном исполнении</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PaytCondition" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Условие оплаты. Возможные значения:
						1 - заранее данный акцепт плательщика;
						2 - требуется получение акцепта плательщика.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="1"/>
						<xsd:minInclusive value="1"/>
						<xsd:enumeration value="1"/>
						<xsd:enumeration value="2"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="AcptTerm" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Количество дней для получения акцепта плательщика</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:totalDigits value="1"/>
						<xsd:minInclusive value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="MaturityDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Окончание срока акцепта</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocDispatchDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата отсылки (вручения) плательщику документов</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartialPayt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация о частичном платеже</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="PaytNo" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Номер частичного платежа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="3"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element ref="com:TransKind">
							<xsd:annotation>
								<xsd:documentation>Вид операции</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SumResidualPayt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Сумма остатка платежа</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:integer">
									<xsd:totalDigits value="18"/>
									<xsd:minInclusive value="0"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element ref="pi:AccDoc"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Priority" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Очередность платежа. Возможные значения: 0-6</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="1"/>
						<xsd:pattern value="[0-6]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="OKTMO" type="com:OKTMOType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код по ОКТМО, указанный в распоряжении о переводе денежных средств. В случае
						отсутствия следует указывать значение «0», а также в случае формирования извещения при приеме
						наличных денежных средств в кассу получателя платежа, следует указывать значение «0»
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="com:AdditionalData" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Дополнительные поля</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ds:Signature"/>
		</xsd:sequence>
		<xsd:attribute name="Id" use="required">
			<xsd:annotation>
				<xsd:documentation>Необходим для наложения ЭП в формате XadES</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleType>
				<xsd:restriction base="xsd:ID">
					<xsd:maxLength value="50"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:element name="FinalPayment" type="pi:PaymentType">
		<xsd:annotation>
			<xsd:documentation>Платеж</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="AccDoc">
		<xsd:annotation>
			<xsd:documentation>Реквизиты платежного документа</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
				<xsd:element name="AccDocNo" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Номер платежного документа</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:pattern value="\d{1,6}"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="AccDocDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>Дата платежного документа</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
